/*Colors
#F5EDED
#E2DAD6
#7FA1C3
#6482AD
#34495e
*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #7FA1C3; 
  font-family: 'Inter', sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background-color: #ffffff; 
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
  color: #000;
  padding: 2rem;
}

.auth-card input {
  display: block;
  width: 90%;
  margin: 0.7rem auto;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ffffff; /* white box */
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* soft shadow around box */
  transition: box-shadow 0.25s ease-in-out, transform 0.2s ease-in-out;
  margin-bottom: 28px;
  height: 25px;
}


.auth-card input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(100, 130, 173, 0.6); /* blue glow on focus */
}

.auth-card button[type="submit"] {
  background-color: #34495e;
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.8rem;
}



.auth-card button[type="submit"]:hover {
  background-color: #6482AD;


}

.or-container {
  margin-top: 1.6rem;
  
}

.or-text {
  font-size: 15px;
  margin-bottom: 1.3rem;
  color: #22313f;
}



.google-button:hover {
  background-color: #22313f;
}

.login-option-button {
  background: none;
  border: none;
  color: #34495e;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.login-option-button:hover{
  color: #6482AD;
}

.error-text {
  color: red;
  margin-top: 0.5rem;
}

.auth-title{
  margin-bottom: 60px;
  font-size: 33px;
  color: #34495e;
}




.google-button {
  display: flex;
  align-items: center;
  justify-content: center; /* centers contents horizontally */
  gap: 10px;
  background-color: #f3f3f3;
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  width: 80%;
  margin: 0.5rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.google-button:hover {
  background-color: #f6f6f6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.google-logo {
  width: 27px;
  height: 27px;
}

button {
  transition: all 0.3s ease;
}